body {
    font-family: sans-serif;
    color:black;
    margin:0px;
}
   
.top {
    margin-left:14px;
    margin-left:14px;
    padding-top:20px;
    text-align:center;
}
        
.topnav {
    background-color: grey;
    overflow: hidden;
}

.Imp_text:hover {
    color:darkcyan;
}

.links {
    text-decoration:none;
}

.links:hover {
    background-color:antiquewhite;
    font-family: monospace;
    font-size:16px;
}
        
.topnav a {
    color:white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
        
.topnav a:hover {
    background-color: gainsboro;
    color: black;
}

.topnav a.active {
    background-color: deepskyblue;
    color: white;
}
